<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="static/js/kickstart.js"></script>
  <link rel="stylesheet" href="static/css/kickstart.css" media="all" />

  <style>
    body {
      font: 14px normal helvetica, sans-serif;
    }

    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .btn {
      border: 1px solid black;
      padding: 3px;
    }
    .btn_start {
      border: 1px solid black;
      padding: 3px;
      background: green;
    }
    .btn_stop {
      border: 1px solid black;
      padding: 3px;
      background: red;
    }

    .quote {
      margin-left: 50px;
      padding-left: 15px;
      border-left: 3px solid #ccc;
    }

  </style>
  </head>
  <body>
    <h1>The Central Limit Theorem, a graphical exploration</h1>
    <p>
    From <a href="https://en.wikipedia.org/wiki/Central_limit_theorem">Wikipedia</a>:<br />
    <div class="quote">In probability theory, the central limit theorem (CLT) states that, given certain conditions, the arithmetic mean of a sufficiently large number of iterates of independent random variables, each with a well-defined expected value and well-defined variance, will be approximately normally distributed.[1] That is, suppose that a sample is obtained containing a large number of observations, each observation being randomly generated in a way that does not depend on the values of the other observations, and that the arithmetic average of the observed values is computed. If this procedure is performed many times, the central limit theorem says that the computed values of the average will be distributed according to the normal distribution (commonly known as a "bell curve").</div>
    </p>

    <p>
    <b>Whew.</b> I don't know about you, but that sounds complicated. Let's try and state it simply:<br />
    When you take many sample measurements, the mean of those samples will form a bell curve shaped (normal) distribution.<br />
    That sounds much friendlier. This tool will help you to explore exactly what that means and gain a intuitive visual understanding of the phenomenon.
    </p>

    <p>
    Let's start by looking at randomness in general. The next graph shows how many times a given number is returned by a random number generator choosing a number between 1 and 10.<br />
    (This example uses Python's cryptographically secure random number generator.)</i>
    </p>
    <div id="graph0_cont">
      <button id="graph0_toggle" class="small green" onClick="toggleGraph(0);"><i class="icon-play"></i> <span class="btntxt">Start</span></button><button class="small" onClick="resetGraph(0)"><i class="icon-refresh"></i> Reset</button> Speed: <input type="text" id="graph0_speed" size="4" value="50" /><br />
      <input type="radio" class="gr0_rd" name="graph0_rd" value="random_integer" checked="true" onChange="resetGraph(0);" /> "Normal" random generator<br />
      <input type="radio" class="gr0_rd" name="graph0_rd" value="crypto_random" onChange="resetGraph(0);" /> Cryptographically secure random generator
      <div id="graph0"></div>
      <div style="text-align:right;">Number of Samples: <span id="graph0_counter">0</span></div>
    </div>

    <p>
    That should look pretty evenly random right? And if you run it multiple times you sholud see different results, sometimes with tall spikes at certain numbers, sometimes with a very even distribution between all numbers. (Try the same experiment using both random number generators, just to be sure.)<br />
    Leave either of these running for long enough, and repeat the experiment enough times, and you should notice no real pattern to this randomness. It could be slightly different each time, but you won't see any regular shape appearing time after time.<br />
    This is exactly how we expect random generation to behave, and we've now verified that our random number generation is working correctly.<br />
    <br />
    So in our next scenario we'll try something else. Imagine we use our verified random number generator to create a very long list of random 1's and 0's. Then take a <i>sample</i> by pulling out 50 characters of that string, and count the number of 0's in that sample.<br />
    We'll take these samples, and graph them, showing us how many 0's appeared. Because this is a randomly generated string one might expect the result to look roughly similar to the first chart: random noise. Let's find out!
    </p>

    <div id="graph1_cont">
      <button id="graph1_toggle" class="small green" onClick="toggleGraph(1);"><i class="icon-play"></i> <span class="btntxt">Start</span></button><button class="small" onClick="resetGraph(1)"><i class="icon-refresh"></i> Reset</button> Speed: <input type="text" id="graph1_speed" size="4" value="50" /><br />
      <input type="radio" class="gr1_rd" name="graph1_rd" onClick="resetGraph(1);" value="random_slice" checked="true"/> Random Samples<br />
      <input type="radio" class="gr1_rd" name="graph1_rd" onClick="resetGraph(1);" value="contig_random_slice" /> Contiguous Samples
      <div id="graph1"></div>
      <div style="text-align:right;">Number of Samples: <span id="graph1_counter">0</span></div>
    </div>

    <p>
    For the random samples method it may take more than a thousand samples before the curve becomes extremely clear, but you can see it start to develop almost immediately. The end result is always the same, no matter how many times you run the experiment: a nice bell curve shape!<br />
    This may not seem intuitive, but it perfectly illustrates the idea of the Central Limit Theorem! Regardless of the underlying data is, these random samples will turn out to follow this normal curve.<br />
    The above graph has two different ways of taking samples. One takes 50 random samples scattered from somewhere inside the large number. The second picks a starting point, and takes 50 contiguous numbers beginning there. If you run the experiment several times and test both methods you can see that both eventually get you to a bell-curved shape, but that the contiguous method takes longer. (At least 3 times as many samples as a rough approximation.)<br />
    </p>

    <p>
    But hold on... Could it be that our underlying data just leads us to this result? Would using a different dataset change the result? What if we used a very skewed dataset?<br />
    Let's try the same experiment, but this time our very long number, rather than being filled with completely random 1's and 0's, will be filled with 75% 0's, followed by 25% 1's.
    There are three ways you can run the experiment:
    1) Contiguous chunks of 50. (This takes a single block of 50 out of the list and counts it.
    2) 50 random items out of our nonrandom list, but the list is only 1000 long.
    3) 50 random items out of our nonrandom list, but the list is 10,000 items long.
    </p>

    <div id="graph2_cont">
      <button id="graph2_toggle" class="small green" onClick="toggleGraph(2);"><i class="icon-play"></i> <span class="btntxt">Start</span></button><button class="small" onClick="resetGraph(2)"><i class="icon-refresh"></i> Reset</button> Speed: <input type="text" id="graph2_speed" size="4" value="50" /><br />
      <input type="radio" class="gr2_rd" name="graph2_rd" onClick="resetGraph(2);" value="contig_nonrandom_slice" checked="true" /> Contiguous Normal (750 0's, 250 1's)<br />
      <input type="radio" class="gr2_rd" name="graph2_rd" onClick="resetGraph(2);" value="nonrandom_slice" /> Normal (750 0's, 250 1's)<br />
      <input type="radio" class="gr2_rd" name="graph2_rd" onClick="resetGraph(2);" value="long_nonrandom_slice" /> Long (7500 0's, 2500 1's)
      <div id="graph2"></div>
      <div style="text-align:right;">Number of Samples: <span id="graph2_counter">0</span></div>
    </div>

    <p>
    In this example the contiguous test method shows a <b>very</b> skewed result, and does not look like a bell curve at all. If you were to throw away the outliers at the far ends of the graph the remaining data points do appear to form what could be a curve, which is worthless since the outlies contain most of the results, but it is interesting to observe.<br />
    Given this, we can infer that for skewed underlying datasets it becomes increasingly important to correctly randomize your sample collection. If your randomization algorithm leads "clumping" in your sample selection you will not see the effects of the CLT on the sample mean graph.<br />
    Both of the random methods further illustrate the CLT though, as we can see that the bell curve of normality centers right on the 75% mark, apparently independently of the length of the random string!<br />
    This example makes a bit more intuitive sense. A string of all 1's should be relatively rare, a string of all 0's should be slightly more common, but most common sholud be some string that has a few of both.
    </p>

    <p>
    So that's the Central Limit Theorem! Why this is useful is left as a much larger educational exercise, but for now it's enough to observe that it does work. :-)
    </p>

    <div id="infobox" style="display:none; background:red; position:absolute;"></div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>

    // TODO: Label X Axis for all charts!

    /********** Configuration Variables **********/
    // The total number of graphs on the page
    //  NOTE: This is for PROGRAMMERS, and thus it is zero-indexed. 3 graphs => numGraphs = 2
    var numGraphs = 2;


    /********** Global Variable Declarations **********/
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 760 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var graphs = new Array(numGraphs);
    for(i=0; i<=numGraphs; i++)
    {
      graphs[i] = new Object();

      // Initialize all the basics of the graphs.
      graphs[i].counter = 0;
      graphs[i].timer;
      graphs[i].data = new Array();
    }



    /*
     * Convenience accessor method for pulling values from radio buttons.
     */
    function get_radio_value(rd_id) {
      var btns = document.getElementsByClassName(rd_id);
      for (var i=0; i < btns.length; i++) {
        if (btns[i].checked) {
            return btns[i].value;
          }
       }
    }


    /********** Graph Functions **********/

    /*
     * Each graph has a number. Each graph has a series of controls.
     * This function takes the number, updates the controls, and activates the graph.
     */

    function toggleGraph(p_num) {
      var d = $("#graph"+p_num+"_toggle"),
          bt = d.find(".btntxt");

      if(bt.text() == "Start")
      {
        d.toggleClass("green red");
        bt.text("Stop");
        d.find("i").attr("class", "icon-stop");
        graphs[p_num].timer = window.setInterval(eval("graph"+p_num+"_update"),
                                                 d.find(".graph_speed").value);
      }
      else
      {
        d.toggleClass("red green");
        bt.text("Start");
        d.find("i").attr("class", "icon-play");
        window.clearInterval(graphs[p_num].timer);
      }
    }


    /*
     * Reset the graph number that is provided back to an initial state.
     */
    function resetGraph(p_num){
      graphs[p_num].data.map(function(d){d.frequency=0;});
      graphs[p_num].counter = 0;
      redrawGraph(p_num);
    }


    /*
     * Redraw the graph to update with the latest data.
     */
    function redrawGraph(p_num) {
      graphs[p_num].y.domain([0, d3.max(graphs[p_num].data, function(d) { return d.frequency; })]);

      function calcTicks() {
        var m = d3.max(graphs[p_num].data, function(d) { return d.frequency; })
        if(m<10)
          return m;
        else
          return 10;
      }

      graphs[p_num].yAxis.ticks(calcTicks());
      graphs[p_num].svg.selectAll("g .y-axis")
        .call(graphs[p_num].yAxis);
      graphs[p_num].svg.selectAll("g .x-axis")
        .call(graphs[p_num].xAxis);

      var bars = graphs[p_num].svg.selectAll(".bar")
        .data(graphs[p_num].data)
        .attr("y", function(d) { return graphs[p_num].y(d.frequency); })
        .attr("height", function(d) { return height-graphs[p_num].y(d.frequency); })

      d3.select("#graph"+p_num+"_counter").text(graphs[p_num].counter);
    }


    /********** Tooltip Functions **********/

    var tooltipOver = function() {
      d3.select("#infobox").style("display", "block");
      d3.select("#infobox").text(this.__data__.name + " occurred "+this.__data__.frequency+" times.");
    }

    var tooltipOut = function() {
      d3.select("#infobox").style("display", "none");
    }

    // The tooltip just always moves around... Good thing we have CPU cycles to spare.
    var tooltipMove = function() {
      var infobox = d3.select("#infobox");
      var coord = d3.mouse(this)
      infobox.style("left", coord[0] + 15 + "px" );
      infobox.style("top", coord[1] + "px");
    }
    d3.select("body").on('mousemove', tooltipMove);



    /********** GRAPH 0 **********/
    // Set up and populate the data array for graph0
    var oneToEleven = new Array(); // This will get used to draw the axis for 11-wide graphs
    for(var i=0; i<11; i++) {
      oneToEleven[i] = i;
      graphs[0].data[i] = {name: i, frequency:0 }
    }

    function graph0_update() {
      d3.json("/ajax/clt_app/"+get_radio_value("gr0_rd")+".json", function(err, j) { graphs[0].data[j.data.integer].frequency++; graphs[0].counter++; redrawGraph(0); }).post()
    }


    /********** GRAPH 1 **********/
    // Set up and populate the data array for graph1
    var oneToFifty = new Array(); // This will get used to draw the axis for 50-wide graphs
    for(var i=0; i<50; i++) {
      oneToFifty[i] = i;
      graphs[1].data[i] = {name: i, frequency:0 }
    }

    function graph1_update() {
      d3.json("/ajax/clt_app/"+get_radio_value("gr1_rd")+".json", function(err, j) { graphs[1].data[j.data.sample_count_0].frequency++; graphs[1].counter++; redrawGraph(1); }).post()
    }

    /********** GRAPH 2 **********/
    // Set up and populate the data array for graph1
    for(var i=0; i<50; i++) {
      graphs[2].data[i] = {name: i, frequency:0 }
    }

    function graph2_update() {
      d3.json("/ajax/clt_app/"+get_radio_value("gr2_rd")+".json", function(err, j) { graphs[2].data[j.data.sample_count_0].frequency++; graphs[2].counter++; redrawGraph(2); }).post()
    }


    /********** PAGE/GRAPH SETUP **********/

    for(i=0; i<=numGraphs; i++)
    {
      // Set up graph
      graphs[i].barWidth = width/graphs[i].data.length;

      graphs[i].x = d3.scale.ordinal()
                .domain(graphs[i].data.map(function(d) { return d.name; }))
                .rangeRoundBands([0, width]);

      graphs[i].y = d3.scale.linear()
          .range([height, 0]);

      graphs[i].xAxis = d3.svg.axis()
          .scale(graphs[i].x)
          .tickValues(graphs[i].data.map(function(d, n) {
                if(n % 5 == 0) return d.name;
            }).filter(function(d, n){ return !!d; }))
          .orient("bottom");

      graphs[i].yAxis = d3.svg.axis()
          .scale(graphs[i].y)
          .orient("left");

      graphs[i].svg = d3.select("#graph"+i).append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // Draw graph initial state
      graphs[i].y.domain([0, d3.max(graphs[i].data, function(d) { return d.frequency; })]);

      graphs[i].svg.append("g")
          .attr("class", "x-axis")
          .attr("transform", "translate(0," + height + ")")
          .call(graphs[i].xAxis);

      graphs[i].svg.append("g")
          .attr("class", "y-axis")
          .call(graphs[i].yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Frequency");

      graphs[i].svg.selectAll(".bar")
          .data(graphs[i].data)
        .enter().append("rect")
          .attr("transform", function(d, n) { return "translate(" + n * graphs[i].barWidth + ",0)"; })
          .attr("class", "bar")
          .attr("width", graphs[i].barWidth-4)
          .attr("y", function(d) { return graphs[i].y(d.frequency); })
          .attr("height", function(d) { return height - graphs[i].y(d.frequency); })
          .on("mouseover", tooltipOver)
          .on("mouseout", tooltipOut);
    }

    </script>
  </body>
</html>
